
.leaderboard-main {
        background-image: url('../img/background_clouds.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
    }

.ldb img {
        width: 240px;
        height: 180px;
        cursor: pointer;
        position: fixed;
        top: 20px;
        left: 20px;
    }

.ldb h1 {
        text-align: center;
        font-size: 3rem;
        color: white;
        text-shadow: 2px 2px 2px black;
        margin-bottom: 50px;
        padding-top: 30px;
    }

.ldb table {
        background-color: rgba(230, 230, 230, 0.5);
        border: 5px solid white;
        border-radius: 10px;
        border-collapse: inherit;
        margin: auto;
        width: 60%;
        text-align: center;
        font-size: 1.5rem;
        table-layout: fixed;
        margin-bottom: 50px;
    }

.ldb table th {
        border-right: rgba(255, 255, 255, 0.5) dashed 1px;
        border-top: rgba(255, 255, 255, 0.5) solid 1px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

.ldb table td {
        border-top: rgba(255, 255, 255, 0.5) solid 1px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
